.hero{
    
}
img{
    
    width: 100%;
    height:880px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 

}
@media (max-width:555px) {
    img{
        width: 80%;
        background-position: center ;
        background-size: cover;
        background-repeat: no-repeat;
       
    }
    
}