.NavbarItems{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
    width: 95%;
    height:80px;
    position: fixed;
    z-index: 9999;
    
}
.logo{
    margin-top: 25px;
    height:65px;
    width:65px;
    align-items: left;
    margin-left: 35px;
}
.nav-menu{
    display:grid;
    grid-template-columns:repeat(6,auto);
    grid-gap:35px;
    list-style: none;
    align-items: center;
    margin-right: -80px;
    margin-top: 30px;

}
.nav-links{
    margin-right: -10px;
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-weight: 450;
    padding:0.7rem 0.2rem;
    white-space: nowrap;
}
.nav-links:hover{
    color:#05B00C;
    transition: all 0.2s ease-in-out;
    
}
.nav-links-mobile{
    display: none;

}
button{
    padding:0.5rem 1.6rem;
    white-space: nowrap;
    font-size:1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #05B00C;
    border-radius: 58px;
    color: white;
    margin-left: -30px;
    margin-right: 50px;
    transition: 0.2s ease-in-out;
    margin-top: -20px;
    margin-bottom: 10%;
    
}
button:hover{
    background-color:rgb(179, 232, 146);
    color:#05B00C;
}
.menu-icons{
    display:none;
}
@media screen and (max-width:850px){
    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    
    
    }
    .nav-menu.active{
        left:0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;

    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;


    }
    .nav-links:hover{
        background: #01959a;
        transition: none;
    }
    button{
        display: none;

    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: #01959a;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;




    }
    .menu-icons{
        display:block;
        cursor: pointer;
    }
    .menu-icons{
        font-size: 1.2rem;
        color: black;
        margin-right: 10px;

    }
}